.helpcontainer1 {
    margin-top: 150px;
    margin-left: 30px;
    margin-bottom: 40px;
}
.helpcontainer1 p {
    margin-left: 20px;
    margin-top: -10px;
}
.helpcontainer2 {
    
    margin-left: 30px;
    margin-bottom: 40px;
}
.helpcontainer2 p {
    margin-left: 20px;
    margin-top: -10px;
}